.test-card{
  margin: 10px;
}

.main{
  padding-top: 200px;
}

.back-button{
  height: 100px;
  width: auto;
}

.back-button-container{
  display: flex;
  width: 100%;
  top: 0;
  position: fixed;
  flex-direction: row-reverse;
}

.sidebar{
  display: flex;
  /*height: 83%;*/
  height: 90%;
  width: 100%;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.sidenav{
  width: 350px;
}
.sidenav-content{
  /*width: 60%;*/
  /*padding-right: 20%;*/
  /*padding-left: 20%;*/
  height: 100%;
  width: 100%;
  padding-left: 15%;

}

.Krav-card-div-row{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.Krav-card{
  margin-top: 5px;
  /*height: 60%;*/
  height: 100%;
  overflow: scroll hidden;
  overflow-x: hidden;
  width: 100%;
}

.Krav-card-edit{
  margin-top: 5px;
  /*height: 25%;*/
  height: 40%;
  width: 100%;
}
/*
.Krav-status-footer{
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  height: 40px;
  padding-bottom: 40px;
}
*/
.Krav-status-right{
  display: flex;
  flex-wrap: wrap;
  height: 150%;
  width: 20%;
  padding-top: 5px;
}



